<%= form_for @animal do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
    <p ><%=  %></p>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, class:"form-control" %>
    <%= binding.pry %>
    <p class="text-danger"><%= form.object.errors.messages %></p>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
